<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Pamsip®</title>

<th:block th:include="fragments/headerinc :: head"></th:block>

<link href="../static/css/prettify.css" th:href="@{/css/prettify.css}"
	rel="stylesheet">

<link href="../static/css/smartadmin-production-plugins.min.css"
	th:href="@{/css/smartadmin-production-plugins.min.css}"
	rel="stylesheet">
<script src="../static/js/prettify.js" th:src="@{/js/prettify.js}"></script>
<script src="../static/js/jquery.bootstrap.wizard.js"
	th:src="@{/js/jquery.bootstrap.wizard.min.js}"></script>
<script src="../static/js/jquery.camera.js"
	th:src="@{/js/jquery.camera.js}"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<link rel="stylesheet" href="style.css">
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container" style="width: 100%">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	</div>
	<div class="container">
		<h1>Afiliate Facilmente</h1>

		<div id="rootwizard">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<ul>
							<li><a href="#tab1" data-toggle="tab">Verifica tus Datos</a></li>
							<li><a href="#tab2" data-toggle="tab">Datos Adicionales</a></li>
							<li><a href="#tab3" data-toggle="tab">Primer Fotografia</a></li>
							<li><a href="#tab4" data-toggle="tab">Segunda Fotografia</a></li>
							<li><a href="#tab5" data-toggle="tab">Tercer Fotografia</a></li>
							<li><a href="#tab6" data-toggle="tab">Afiliacion de	Servicio</a></li>


						</ul>
					</div>
				</div>
			</div>
			<div id="bar" class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="0"
					aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
			</div>
			<div class="tab-content">
				<div class="tab-pane" id="tab1">
					<div class="row" style="margin-left: 50%">
						<div class="col-sm-6">
		
												<div class="form-group">
								<input id="cui" th:value="${dpi.cui}"  style="display: none;" /> 
								<input id="Nombre1"	th:value="${dpi.Nombre1}" style="display: none;"/>
								<input id="Nombre2"	th:value="${dpi.Nombre2}" style="display: none;"/>
								<input id="Apellido1" th:value="${dpi.Apellido1}" style="display: none;"/>
								 <input id="Apellido2" th:value="${dpi.Apellido2}" style="display: none;"/> 
								 <img th:src="@{'data:image/jpeg;base64,'+${image}}" />
							</div>
												
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Tu Nombre</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name" th:value="${dpi.Nombre1}+' '+${dpi.Nombre2}+' '+${dpi.Apellido1}+' '+${dpi.Apellido2}"   />
								</div>
							</div>
						</div>

	

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Numero de CUI</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Nacionalidad</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div>

						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab2">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
					<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
								</div>
							</div>
						</div>

								<div class="control-group">
									<label class="control-label" for="name">Telefono</label>
									<div class="controls">
										<input type="text" id="telefono" class="required">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab3">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group">
									<div id="camera"></div>
									<!--     <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script> -->
									<script>
										$(document).ready(function() {
											$("#camera").camera({
												resolution : "HD", // "QVGA", "VGA", "HD"
												snap : function(result) {
													console.log(result);
												}
											});
										});
									</script>

								</div>

							</div>
						</div>
					</div>

				</div>
				<div class="tab-pane" id="tab4">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group">


								</div>

							</div>
						</div>
					</div>

				</div>
				<div class="tab-pane" id="tab5">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group">
									

								</div>

							</div>
						</div>
					</div>

				</div>
				<div class="tab-pane" id="tab6">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">vxcvdvfb</div>
						</div>
					</div>

				</div>
<!-- 				<ul class="pager wizard"> -->
<!-- 					<li class="previous"><a href="#">Anterior</a></li> -->
<!-- 					<li class="next"><a href="#">Siguiente</a></li> -->
<!-- 				</ul> -->
			</div>

			<script type="text/javascript">
				$(document)
						.ready(
								function() {

									$('#rootwizard')
											.bootstrapWizard(
													{
														onTabShow : function(
																tab,
																navigation,
																index) {
															var $total = navigation
																	.find('li').length;
															var $current = index + 1;
															tabposition = index;

													

															var $percent = ($current / $total) * 100;
															$(
																	'#rootwizard .progress-bar')
																	.css(
																			{
																				width : $percent
																						+ '%'
																			});
														}
													});

								});
			</script>
</body>
</html>